/.vs
/Intermediate/AssetRegistryCache
/Intermediate/Build
/Intermediate/Config
/Intermediate/DatasmithContentTemp
/Intermediate/ReimportCache
/Intermediate/*.*
/Saved
/Binaries
/Plugins
/Content
*_BuiltData.uasset